html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  transition: all 0.5s ease-in;
  font: 100% Figtree, sans-serif;
}

body.light-mode {
  color: #000;
}

body.dark-mode {
  color: white;
  background-color: black;
}

.light-mode .hero__sub-heading {
  color: #282828;
}

.dark-mode .popular-section__body {
  background: linear-gradient(169deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100.82%);
}

.light-mode .popular-section__body {
  background-color: #282828;
}

.dark-mode .hero__sub-heading {
  color: #a4a4a4;
}

.dark-mode .hero__card__heading,
.dark-mode .hero__old-price {
  color: white;
}

.light-mode .hero__card {
  background-color: #282828;
}

.light-mode #ellipse1,
.light-mode #ellipse2,
.light-mode .scroll-down--white,
.dark-mode .scroll-down--black {
  display: none;
}

.sun {
  right: 8px;
}

.moon {
  left: 4px;
}

.header {
  padding: 26px 32px 0;
  display: flex;
  align-items: center;
}
.header__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__theme-icons {
  display: flex;
  justify-content: space-between;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 40px;
}
.header__buttons label {
  transition: 0.3s;
  width: 60px;
  height: 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 200px;
  position: relative;
  cursor: pointer;
}
.header__buttons label::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 24px;
  background-color: #878787;
  aspect-ratio: 1/1;
  top: 2px;
  left: 4px;
}
.header__buttons label div {
  position: absolute;
  top: 2px;
}
.header__buttons input {
  z-index: 1;
  display: none;
}
.header__buttons input:checked + label {
  background-color: #000;
}
.header__buttons input:checked + label::after {
  left: 55px;
  transform: translateX(-100%);
}
.header__icons {
  display: flex;
  gap: 35px;
}
.header__icons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.header__logo {
  width: 51px;
  height: 45px;
}
.header__button {
  display: none;
  font-size: 20px;
  padding: 14px 38px;
}

.nav {
  display: none;
}

.hero {
  position: relative;
  padding: 17px 0 64px 32px;
}
.hero__heading {
  font-size: 56px;
  font-weight: 700;
  max-width: 544px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.hero__heading--highlight {
  color: #f14a16;
}
.hero__sub-heading {
  margin-bottom: 47px;
  font-size: 18px;
  font-weight: 250;
  max-width: 727px;
}
.hero__buttons {
  display: flex;
  gap: 30px;
}
.hero__button--filled {
  font-size: 17px;
  padding: 12px 37px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero__button--default {
  font-size: 17px;
  padding: 12px 17px;
}
.hero__model {
  display: none;
}
.hero__card-container {
  padding-top: 144px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-y: visible;
  overflow-x: scroll;
}
.hero__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(116deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 56px 17px 17px 10px;
  color: white;
  min-width: 250px;
  position: relative;
}
.hero__card__price {
  margin-top: 0.7rem;
}
.hero__card__image {
  position: absolute;
  top: -80px;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: transform 0.1s ease-in;
}
.hero__card__image img {
  z-index: 2;
}
.hero__card:hover .hero__card__image {
  transform: translateY(-10px);
}
.hero__price {
  color: #fc9918;
}
.hero__old-price {
  margin-left: 12px;
  font-size: 12px;
}
.hero__footer {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.search-bar {
  margin-top: 15px;
  margin-left: 17px;
  display: flex;
  padding-right: 17px;
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
}
.search-bar__input {
  flex-grow: 1;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  font: 100% Figtree, sans-serif;
  padding: 10px 14px;
}

.popular-section {
  padding-left: 40px;
}
.popular-section__container {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}
.popular-section__card {
  width: 250px;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
}
.popular-section__card:hover {
  filter: brightness(1.2);
}
.popular-section__image-wrapper {
  width: 250px;
  height: 220px;
}
.popular-section__body {
  color: white;
  padding: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.popular-section__list {
  padding-left: 10px;
}
.popular-section__item {
  font-size: 12px;
}
.popular-section__price {
  color: #fc9918;
  font-size: 20px;
}
.popular-section__button-container {
  display: flex;
  gap: 22px;
  margin-top: 17px;
  margin-bottom: 5px;
}
.popular-section__button-default {
  padding: 8px 10px;
  font-size: 10px;
}
.popular-section__button-filled {
  font-size: 12px;
  padding: 9px 18px;
}

.button {
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #f14a16;
  font-weight: 600;
  color: #f14a16;
  transition: all 0.2s ease-in;
}
.button:hover {
  scale: 1.05;
}
.button--filled {
  background-color: #f14a16;
  color: white;
}
.button--glow {
  box-shadow: 3px 2px 6px #f14a16, -2px -2px 10px #f14a16;
}
.button--glow1 {
  box-shadow: -1px 0px 19px #f14a16;
}

.musify-card {
  margin: 50px 64px 24px;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  padding: 30px 48px;
  color: white;
}
.musify-card__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.musify-card__list {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 74px;
  list-style: none;
}
.musify-card__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.musify-card__item:nth-child(1) {
  font-size: 20px;
}
.musify-card__item:nth-child(2) {
  font-size: 24px;
}
.musify-card__item:nth-child(3) {
  font-size: 25px;
}

.offer-section {
  padding: 0 24px;
}
.offer-section__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.offer-section__discount {
  position: absolute;
  top: 0;
  left: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: #370665;
  filter: drop-shadow(8px 10px 17px rgba(0, 0, 0, 0.25));
}
.offer-section__timer {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}
.offer-section__title {
  font-size: 36px;
}
.offer-section__container {
  justify-content: center;
  display: flex;
  gap: 18px;
  font-size: 32px;
  margin-top: 25px;
}
.offer-section__time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  height: 92px;
  width: 92px;
  color: white;
  font-weight: 700;
  background-color: #370665;
  border-radius: 32px;
}
.offer-section__buttons {
  margin-top: 67px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.offer-section__button-default {
  font-size: 18px;
  padding: 17px 28px;
}
.offer-section__button-filled {
  font-size: 21px;
  font-weight: 700;
  padding: 14px 28px;
}

.others-section__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 68px 0 43px 0;
}
.others-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.others-section__card {
  border-radius: 25px;
  width: 340px;
  transition: opacity 0.2s ease-in;
}
.others-section__card img {
  width: 100%;
}
.others-section__card:hover {
  opacity: 0.8;
}

.new-section__container {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  padding-left: 18px;
  overflow: scroll;
}
.new-section__card {
  min-width: 320px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #370665;
  border: 5px solid #35589a;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in;
}
.new-section__card img {
  height: 322px;
}
.new-section__card:hover {
  box-shadow: 0 25px 50px -12px rgb(164, 108, 234);
}
.new-section__body {
  padding: 16px 19px 25px;
}
.new-section__title {
  font-size: 21px;
  color: white;
}
.new-section__list {
  font-size: 15px;
  padding-left: 10px;
  color: white;
}
.new-section__item {
  padding-bottom: 5px;
}
.new-section__price {
  color: #fc9918;
  font-size: 21px;
  margin-top: 13px;
}
.new-section__buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.new-section__button-default {
  font-size: 14px;
  font-weight: 700;
  padding: 14px;
}
.new-section__button-filled {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 24px;
}

.download-section {
  margin: 152px 31px 123px 18px;
  padding: 42px 30px 0;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-section__body {
  color: white;
  margin: 41px;
  text-align: center;
}
.download-section__title {
  font-size: 28px;
  font-weight: 700;
}
.download-section__subtitle {
  letter-spacing: 0.78px;
  font-size: 24px;
}
.download-section__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  gap: 22px;
}
.download-section__buttons img {
  width: 109px;
}

.footer {
  position: relative;
  background-color: #370665;
  padding: 40px 30px 0 30px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer__container1 {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer ul {
  margin: 0;
  list-style: none;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__list1 {
  display: flex;
  gap: 31px;
}
.footer__text {
  font-size: 24px;
  line-height: 46px; /* 191.667% */
  color: white;
}
.footer__text--bold {
  font-weight: 700;
}
.footer__social-media {
  display: flex;
  gap: 31px;
}
.footer__logo-wrapper {
  overflow: hidden;
  padding-top: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
}
.footer__subscribe {
  margin-top: 46px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 14px;
}
.footer__input {
  border: 2px solid #f14a16;
  padding: 9px 130px 9px 21px;
  background-color: transparent;
  border-radius: 20px;
}
.footer__button {
  font-size: 24px;
  padding: 10px 35px;
  width: fit-content;
}
.footer__outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.footer__copy-logo {
  width: 193.965px;
  height: 172.241px;
}
.footer__copy-logo img {
  width: 100%;
}
.footer__copyright {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.footer__subscribe-text {
  text-align: center;
}

#search-icon {
  display: none;
}

.title {
  font-size: 46px;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.scroll-down {
  height: 60px;
  width: 60px;
  margin-inline: auto;
}

#offer-title-pc {
  display: none;
}

#footer-logo-pc {
  display: none;
}

#ellipse1 {
  position: absolute;
  left: -177px;
  bottom: 54px;
  border-radius: 50%;
  background: #35589a;
  width: 420.552px;
  height: 420.552px;
  filter: blur(250px);
  z-index: -1;
}

#ellipse2 {
  position: absolute;
  left: 113px;
  bottom: 514px;
  width: 443.813px;
  height: 443.813px;
  border-radius: 50%;
  background: #370665;
  filter: blur(300px);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .others-section__card {
    width: 370px;
  }
  .new-section__container {
    padding-left: 64px;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__subscribe {
    width: fit-content;
    position: absolute;
    bottom: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .light-mode .hero__card {
    background: linear-gradient(116deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
  }
  #ellipse1 {
    height: 700px;
    width: 898px;
    left: -22px;
    bottom: 87px;
  }
  #ellipse2 {
    left: auto;
    right: 0;
    top: -300px;
    width: 700px;
    height: 700px;
  }
  #search-icon {
    display: inline;
  }
  .scroll-down {
    padding-top: 150px;
    order: -1;
  }
  #footer-logo-mobile {
    display: none;
  }
  #footer-logo-pc {
    display: inline-block;
    width: 365px;
    height: 324px;
  }
  #footer-logo-pc img {
    width: 100%;
  }
  .title {
    font-size: 64px;
    padding-top: 123px;
    padding-bottom: 103px;
    text-align: center;
  }
  .search-bar__input {
    display: none;
  }
  .header {
    padding: 18px 70px;
  }
  .header__main > img {
    order: -1;
    width: 125px;
    height: 111px;
  }
  .header__hamburgermenu {
    display: none;
  }
  .header__button {
    display: inline;
  }
  .nav {
    display: inline;
  }
  .nav__list {
    display: flex;
    gap: 40px;
  }
  .nav__item {
    list-style-type: none;
  }
  .nav__item a {
    text-decoration: none;
    font-size: 24px;
    color: inherit;
  }
  .nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #fc9918;
  }
  .hero {
    position: relative;
    padding: 0 0 94px 90px;
  }
  .hero__model {
    display: inline-block;
    position: absolute;
    z-index: -2;
    right: 0;
    top: -115px;
  }
  .hero__model img {
    height: 790px;
  }
  .hero__heading {
    font-size: 85px;
  }
  .hero__sub-heading {
    font-size: 32px;
  }
  .hero__button--default {
    font-size: 24px;
    padding: 18px 24px;
  }
  .hero__button--filled {
    font-size: 24px;
    padding: 18px 54px;
  }
  .hero__footer {
    flex-direction: row;
    align-items: center;
  }
  .hero__card {
    background: linear-gradient(116deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
    color: #000;
  }
  .popular-section {
    padding-left: 129px;
  }
  .popular-section__container {
    gap: 124px;
  }
  .popular-section__card {
    width: auto;
  }
  .popular-section__card img {
    width: 100%;
    height: 100%;
  }
  .popular-section__image-wrapper {
    width: 376px;
    height: 328px;
  }
  .popular-section__button-container {
    gap: 26px;
  }
  .popular-section__title {
    font-size: 26px;
  }
  .popular-section__item {
    font-size: 18px;
  }
  .popular-section__price {
    font-size: 28px;
  }
  .popular-section__button-default {
    font-size: 16px;
    padding: 8px 16px;
  }
  .popular-section__button-filled {
    padding: 13px 30px;
    font-size: 20px;
  }
  .musify-card {
    margin: 147px 126px 0;
  }
  .musify-card__title {
    font-size: 35px;
  }
  .musify-card__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .musify-card__item {
    font-size: 25px !important;
    gap: 10px;
  }
  #offer-title-mobile {
    display: none;
  }
  #offer-title-pc {
    display: block;
    font-size: 65px;
    margin-bottom: 50px;
    font-weight: 700;
  }
  .offer-section {
    margin: 150px 100px 0 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .offer-section__image-wrapper {
    display: flex;
    justify-content: center;
  }
  .offer-section__time {
    font-size: 60px;
  }
  .offer-section__button-default {
    font-size: 26px;
    padding: 24px 37px;
  }
  .offer-section__button-filled {
    font-size: 30px;
    padding: 20px 40px;
  }
  .offer-section__discount {
    left: 0;
  }
  .others-section__title {
    font-size: 65px;
    margin-top: 193px;
    margin-bottom: 143px;
  }
  .others-section__container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: 127px;
    justify-content: center;
  }
  .others-section__card {
    width: 500px;
  }
  .others-section__card img {
    width: 100%;
  }
  .footer {
    padding-left: 60px;
  }
  .footer__text {
    font-size: 28px;
  }
  .footer__text--bold {
    font-size: 32px;
  }
  .footer__container {
    padding-top: 112px;
  }
  .footer__input {
    font-size: 24px;
  }
  .footer__subscribe-text {
    text-align: left;
  }
  .footer__form {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .footer__subscribe {
    bottom: 170px;
  }
  .footer__copyright {
    margin-top: 90px;
    font-size: 30px;
  }
  .new-section__card {
    cursor: pointer;
    border-radius: 60px;
    min-width: 500px;
  }
  .new-section__card img {
    width: 100%;
    height: 410px;
  }
  .new-section__title {
    font-size: 26px;
  }
  .new-section__item {
    font-size: 18px;
  }
  .new-section__price {
    font-size: 28px;
  }
  .new-section__buttons {
    gap: 34px;
  }
  .new-section__button-default {
    font-size: 16px;
    padding: 19px;
  }
  .new-section__button-filled {
    font-size: 20px;
    padding: 20px 56px;
  }
  .new-section__body {
    padding: 21px 29px 32px 29px;
  }
  .new-section__container {
    gap: 106px;
    padding-left: 126px;
  }
  .download-section {
    padding: 80px 126px;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 126px;
  }
  .download-section__buttons {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1536px) {
  .offer-section__image-wrapper img {
    width: 720px;
  }
  .offer-section__discount {
    top: 20px;
    left: 80px;
  }
  .download-section {
    padding: 80px 126px;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 126px;
  }
  .download-section img {
    width: 350px;
  }
  .download-section__title {
    font-size: 56px;
  }
  .download-section__subtitle {
    margin-top: 15px;
    font-size: 32px;
  }
  .download-section__buttons {
    flex-direction: row;
  }
  .others-section__card {
    width: 700px;
  }
  .others-section__card img {
    width: 100%;
  }
  .musify-card__title {
    font-size: 45px;
  }
  .musify-card__item {
    font-size: 35px !important;
  }
  .footer__form {
    gap: 76px;
  }
  #offer_title_pc {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
